.content-title-2 {
  color: #3f3f3f;
  padding: 20px 2px;
  font-size: 22px;
  text-transform: uppercase;
}

.content-title-sub {
  color: #3f3f3f;
  padding: 20px 2px;
  font-size: 18px;
  text-transform: uppercase;
}
