.hero_area{
    background-image: url("../../public/bhgImg/Platanista-gangetica_Elisabeth-Fahrni-Mansur_BCDP_WCS-1000x667.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

