.drop {
  background: #016879;
  /* border-bottom: 0.5px solid #29988b; */
  font-weight: normal;
  color: red !important;
  text-decoration: none;
}
 .drop:hover {
  background: white !important;
  color: #016879;
}


.active_link {
  font-weight: 600;
  color: #4a8db4;
}
.language {
  display: "flex";
}

.lang_option {
  color: white;
  background-color: #016879;
  align-items: center;
}

.lang_option:hover {
  background-color: white;
  color: #016879;
}

.about_us {
  background: #016879;
  /* border-bottom: 0.5px solid #29988b; */
  font-weight: normal;
  color: #ffffff !important;
  text-decoration: none;
}
.about_us:hover {
  background: white !important;
  color: #016879 !important;
}
